.box{
  background-color: #1C8CCC;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

.box_header{
  background-color: #8C8C8C;
  padding: 20px;
  margin: 5px;
  text-align: center;
  width: 81.5%;
}

.box_container{
  background-color: #595959;
  padding: 148px;
  margin: 10px;
}

.box_footer{
  text-align: center;
  background-color: #1C8CCC;
  padding: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px), /*Webkit*/
(resolution: 132dpi) /*Otros motores*/ {
/*Aquí los estilos para iPad 1 y 2*/
  .box{
    background-color: #1C8CCC;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
  }

  .box_header{
    width: 75%;
    background-color: #8C8C8C;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }

  .box_container{
    background-color: #595959;
    padding: 50px;
    margin: 10px;
  }

  .box_footer{
    text-align: center;
    background-color: #1C8CCC;
    padding: 30px;
    margin: 5px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px), /*Webkit*/
(resolution: 132dpi) /*Otros motores*/ {
/*Aquí los estilos para iPad 1 y 2*/
  .box{
    background-color: #1C8CCC;
    padding: 60px;
    margin: 10px;
    margin-top: 10px;
    text-align: justify;
    font-size: 35px;
  }

  .box_header{
    width: 77%;
    background-color: #8C8C8C;
    padding: 20px;
    margin: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
  }

  .box_container{
    background-color: #595959;
    padding: 90px;
    margin: 10px;
  }

  .box_container_tablet{
    background-color: #8C8C8C;
    padding: 70px;
    margin: 10px;
  }

  .box_footer{
    background-color: #1C8CCC;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 60px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px), /*Webkit*/
(resolution: 132dpi) /*Otros motores*/ {
/*Aquí los estilos para iPad 1 y 2*/
  .box{
    background-color: #1C8CCC;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
  }

  .box_header{
    width: 75%;
    background-color: #8C8C8C;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }

  .box_container{
    background-color: #595959;
    padding: 50px;
    margin: 10px;
  }

  .box_footer{
    text-align: center;
    background-color: #1C8CCC;
    padding: 30px;
    margin: 5px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 703px) {

  .box{
    background-color: #1C8CCC;
    padding: 20px;
    margin: 5px;
    text-align: center;
  }

  .box_header{
    background-color: #8C8C8C;
    padding: 20px;
    margin: 5px;
    text-align: center;
    width: 81.5%;
  }

  .box_container{
    background-color: #595959;
    padding: 125px;
    margin: 10px;
  }

  .box_footer{
    text-align: center;
    background-color: #1C8CCC;
    padding: 20px;
  }
}